*{
    box-sizing: border-box;
    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}
.container{
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 2px solid lightgray;
    border-radius: 5px;
}
input[type="text"],
input[type="email"],
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
.contact{
    text-align: center;
    background-color: rgb(84,170,84);
    color: white;
    padding: 6px;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: rgb(84, 170, 84);
    color: white;
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px
}
input[type="submit"]:hover{
    background-color: #4caf84;
}